<div class="row">
  <div class= "col-md-12">
    <div class="jumbotron hover" style="background: url(<%= @course.image %>) no-repeat center center; background-size: cover;">
      <h1><span style="color: white;"><%= @course.name %></span></h1>
    </div>
  </div>
</div>
